<template>
	<v-container fluid grid-list-md class="">
		<v-layout row wrap>
				<v-flex xs12 v-html="decription"></v-flex>
		</v-layout>
	</v-container>
</template>

<script scoped>
	export default {
		name: 'album-description',
		props: ['decription'],
		data () {
			return {

			}
		}
	}
</script>

<style scoped>
	
</style>