<template>
	<v-flex xs12 md6 class="pb-1">
		<v-card>
			<v-card-media
				:src="photo.pic"
				height="400px"
			>
			</v-card-media>
		</v-card>
	</v-flex>
</template>

<script scoped>
	export default {
		name: 'profile-photo',
		props: ['photo'],
		data () {
			return {

			}
		}
	}
</script>