<template>
	<v-container fluid>
    <v-layout row wrap>
    	<v-flex xs12 sm12 md8 lg8 class="pr-2">
	    		<v-card v-if="product.profile">
		        <v-layout row wrap>
		        	<v-flex xs6>
		        		<v-card-media
				          class="white--text"
				          height="300px"
				          contain
				          :src="product.pic"
				        >
				          <v-container fill-height fluid>
				            <v-layout fill-height>
				              <v-flex xs12 align-end flexbox>
				                <span class="headline red white--text pa-2">{{ product.discount | discount }}</span>
				              </v-flex>
				            </v-layout>
				          </v-container>
				        </v-card-media>
				        <v-card-actions>
				        	<v-container>
				        		<v-layout>
				        			<social-sharing 
								        :url="appUrl + this.$route.fullPath"
								        :title="product.name"
								        :description="product.readmore"
								        :quote="product.readmore"
								        hashtags="music,artist profiling,cameroon,album"
				                twitter-user="Mad237"
				                :media="product.pic"
								        inline-template
								      >
								      <div>
								         <network network="facebook">
								            <v-btn dark small color="blue darken-4" icon>
								                <v-icon dark small>fa-facebook</v-icon>
								            </v-btn>
								         </network>
								         <network network="twitter">
								            <v-btn dark small color="blue darken-4" icon>
								              <v-icon dark small>fa-twitter</v-icon>
								            </v-btn>
								         </network>
								         <network network="googleplus">
								            <v-btn dark small color="red accent-4" icon>
								              <v-icon dark small>fa-google-plus</v-icon>
								            </v-btn>
								         </network>
								         <network network="linkedin">
								            <v-btn dark small color="blue darken-4" icon>
								              <v-icon dark small>fa-linkedin</v-icon>
								            </v-btn>
								         </network>
								         <network network="pinterest">
								            <v-btn dark small color="red accent-4" icon>
								              <v-icon dark small>fa-pinterest</v-icon>
								            </v-btn>
								         </network>
								         <network network="skype">
								            <v-btn dark small color="cyan darken-1" icon>
								              <v-icon dark small>fa-skype</v-icon>
								            </v-btn>
								         </network>
								         <network network="whatsapp">
								            <v-btn dark small color="green darken-4" icon>
								              <v-icon dark small>fa-whatsapp</v-icon>
								            </v-btn>
								         </network>
								        </div>
								      </social-sharing>
				        		</v-layout>
				        	</v-container>
				        </v-card-actions>
		        	</v-flex>
		        	<v-flex xs6>
		        		<v-card-title>
				          <v-container>
				          	<v-layout row wrap>
				            	<v-flex xs12>
				            		<router-link tag="h3" :to="'/artiste/' + product.profile.data.slug" class="grey--text">{{ product.profile.data.name }}</router-link>
						            <h1 class="product-title" v-text="product.name"></h1>
						            <v-subheader>PRODUCT CODE: {{ product.unq_code }}</v-subheader>
						            <!-- <v-subheader class="title"> In stock: <span> &nbsp; {{product.inventory}}</span></v-subheader> -->
						            <v-subheader class="body-2 price" v-if="product.discount === ''">{{product.price | currency}}</v-subheader>

						           <v-subheader class="body-2" v-if="product.discount">
						            <span class="price grey--text">{{ product | discountedPrice }}</span> &nbsp;
						            <s class="red--text">{{product.price | currency}}</s>
						           </v-subheader>
				            	</v-flex>
				            	<v-flex xs12>
				            		<v-subheader class="size">COLOR(s): {{ product | color }}</v-subheader>
						            <v-subheader class="size">SIZE(s): {{ product | size }}</v-subheader>
						            <v-form>
						            	<v-layout row>
						            		<v-flex xs6>
						            			<v-text-field
											          label="Quantity"
											          v-model="quantity"
											          prefix="Qty"
											          type="number"
								          			disabled
											        ></v-text-field>
						            		</v-flex>
								        		<v-flex xs6>
								        			<v-btn @click.stop="decrement" color="warning" small icon>
							 									<v-icon small>fa-minus</v-icon>
							 								</v-btn>
										        	<v-btn small icon color="success" @click.stop="increment">
										        		<v-icon small>fa-plus</v-icon>
										        	</v-btn>
								        		</v-flex>
									      	</v-layout>
									        <v-select
									          :items="product.color"
									          v-model="color"
									          label="Select color"
									          single-line
									          auto
									        ></v-select>
						              <v-select
									          :items="product.size"
									          v-model="size"
									          label="Select size"
									          single-line
									          auto
									        ></v-select>
									        <v-btn color="primary" v-if="productIsInStock(product)" @click.stop="addProductToCart()" :loading="loader"
							                :disabled="loader">Add to cart
							              <span slot="loader" class="custom-loader">
							                  <v-icon light>cached</v-icon>
							              </span>
							            </v-btn>
						            </v-form>
				            	</v-flex>
				           	</v-layout>
				          </v-container>
				        </v-card-title>
		        	</v-flex>
		        </v-layout>
		        <v-card-actions>
		        	<v-layout row wrap>
		        		<v-flex xs12>
				            		<v-tabs fixed color="secondary">
													<v-tab
													  href="#detail"
													  style="font-size:1.3em;"
													>
													  Details
													</v-tab>
													<v-tab
													  href="#shipping"
													  style="font-size:1.3em;"
													>
													  Shipping
													</v-tab>
													<v-tab
													  href="#review"
													  style="font-size:1.3em;"
													>
													  Review(s)
													</v-tab>
												<v-tabs-items>
													<v-tab-item
													  id="detail"
													>
														<v-container fluid grid-list-md class="">
															<v-layout row wrap>
														  	<v-flex xs12>
														   		<div v-html="product.description"></div>
														  	</v-flex>
															</v-layout>
														</v-container>
													</v-tab-item>
													<v-tab-item
														id="shipping"
													>
													  <v-container fluid grid-list-md class="grey lighten-4">
														  <v-layout row wrap>
														    <v-flex xs12>
														      <h1>Shipping</h1>
														    </v-flex>
														  </v-layout>
														</v-container>
													</v-tab-item>
													<v-tab-item
														id="review"
													>
													  <v-container fluid grid-list-md class="grey lighten-4">
														  <v-layout row wrap>
														    <v-flex xs12>
														      <v-card>
													          <v-toolbar color="primary" dark>
													            <v-icon color="white">arrow_back</v-icon>
													            <v-toolbar-title>Review</v-toolbar-title>
													            <v-spacer></v-spacer>
													            <v-btn icon @click.stop="postReview">
													            	<v-icon color="white">send</v-icon>
													            </v-btn>
													          </v-toolbar>
													          <v-container fluid class="pa-0 mt-2">
													              <v-flex xs12 class="text-xs-right">
													                <v-text-field
													                  label="Name"
													                  single-line
													                  full-width
													                  v-model="name"
													                  :error-messages="errors.collect('name')"
													                  v-validate="'required'"
													                  data-vv-name="name"
													                  required
													                ></v-text-field>
													              </v-flex>
													              <v-flex xs12>
													                <v-divider></v-divider>
													                <v-text-field
													                  label="Email"
													                  single-line
													                  full-width
													                  v-model="email"
													                  :error-messages="errors.collect('email')"
													                  v-validate="'required|email'"
													                  data-vv-name="email"
													                  required
													                ></v-text-field>
													              </v-flex>
													              <v-flex xs12>
													                <v-divider></v-divider>
													                <v-text-field
													                  label="Review"
													                  v-model="review"
													                  counter
													                  min="20"
													                  full-width
													                  multi-line
													                  single-line
													                  :error-messages="errors.collect('review')"
													                  v-validate="'required|min:20'"
													                  data-vv-name="review"
													                  required
													                ></v-text-field>
													              </v-flex>
													          </v-container>
													        </v-card>
														    </v-flex>
														  </v-layout>
														  <v-reviews v-if="product.reviews.data" :reviews="product.reviews.data" />
														</v-container>
													</v-tab-item>
												</v-tabs-items>
											</v-tabs>
				        </v-flex>
		        	</v-layout>
		        </v-card-actions>
		      </v-card>

		    <h1 class="display-2 mt-4 mb-4">Related Product(s)</h1>
        <v-layout row wrap v-if="product.related.data">
        	<v-product v-if="products" v-for="(product, index) in product.related.data" :key="index" :product="product" height="300px"></v-product>
        </v-layout>
    	</v-flex>

    	<v-flex xs12 sm12 md3 offset-md class="ml-5">
        <v-promotion></v-promotion>
      </v-flex>
    </v-layout>
	</v-container>
</template>

<script>
	import axios from 'axios'
	import { mapGetters, mapState, mapActions } from 'vuex'
	import Promotion from '@/components/Promotions/Index.vue'
  import ProductCard from '@/components/ProductCard.vue'
	import Reviews from '@/components/review/Reviews.vue'
	export default {
    name: 'product',

    head () {
      return { title: 'Product' }
    },

		data () {
			return {
				appUrl: process.env.appUrl,
				loader: false,
				quantity: 0,
				color: '',
				size: '',
        email: '',
        name: '',
        review: ''
			}
		},

		asyncData ({ params, error }) {
	    return axios.get(process.env.musicApi + `/get/product_by_slug/${params.slug}`)
	    .then((res) => {
	      return { product: res.data.data }
	    })
	    .catch((e) => {
	      error({ statusCode: 404, message: 'Product not found' })
	    })
	  },

		components: {
      'v-product': ProductCard,
			'v-promotion': Promotion,
      'v-reviews': Reviews
		},
		computed: {
      ...mapGetters({
        productIsInStock: 'product/productIsInStock'
      })
    },

    methods: {
    	increment () {
	      this.quantity++
	    },

	    decrement () {
	      if(this.quantity > 0){
	        this.quantity--
	      }
      },

      addProductToCart (item) {
        var cartObject = {
          'id': this.product.id,
          type: 'Product',
          quantity: '',
          color: '',
          size: ''
        }
        if (this.quantity === '' || this.quantity === 0 || this.size === '' || this.color === '') {
	        this.emitErrorNotify("Please make sure QUANTITY is not ZERO(0) and you have selected COLOR and SIZE too.")
        } else {
	        cartObject.quantity = this.quantity
	        cartObject.beatPlan = ''
	        cartObject.color = this.color
	        cartObject.size = this.size
          cartObject.inventory = this.product.inventory
	        this.$store.dispatch('cart/addProductToCart', cartObject)
	          .then(response => {
	          		this.quantity = 0
				        this.size = ''
				        this.color = ''
                this.emitSuccessNotify("Item has been added to cart")
	            }, response => {
	          		this.quantity = 0
				        this.size = ''
				        this.color = ''
                this.emitErrorNotify("Failed to add item in cart")
	        })
        }
      },
      
      postReview () {
				this.$validator.validateAll().then(result => {
          if (result) {
          	axios.post(this.musicApi + '/post/product_review', {product_id: this.product.id, name: this.name, email: this.email, review: this.review})
						.then(response => {
							this.emitSuccessNotify(response.data.success.message)
							this.name = ''
							this.email = ''
							this.review = ''
						})
						.catch(error => {
							this.loader = false
			        if (error.response.status === 422) {
			          this.displayErrors(error.response.data.errors, this)
			        } else if (error.response.status === 409) {
			            this.emitErrorNotify(error.response.data.message)
			        }
						})
					}
				})
			},
	    emitErrorNotify (payload) {
	      this.$events.fire('errorSnackbar', payload);
	    },
	    emitSuccessNotify (payload) {
	      this.$events.fire('successSnackbar', payload);
	    },
	    displayErrors (items, self) {
	      for (var i = 0, len = items.length; i < len; i++) {
	        (function (i) {
	          setTimeout(function () {
	            var x = (i === 0) ? 0.5 : i / 2
	            var time = 10000 * x
	            var speed = 1000 * x
	            self.$notify({ group: 'app-template', text: items[i].replace(/_/g, ' '), type: 'error', duration: time, speed: speed })
	          }, 1500 * i)
	        })(i)
	      }
	    }
    }
	}
</script>

<style scoped>
	.product-title {
    cursor: pointer;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 700;
    color: #3a3a3a;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
  }
  .size {
    text-align: center;
  }
  .price {
    font-size: 18px;
    font-weight: bold;
    color: #454545;
  }
</style>