<template>
	<div>
	 <v-navigation-drawer
      fixed
      :clipped="true"
      app
      absolute
      v-model="drawer"
      :disable-resize-watcher="true"
      :disable-route-watcher="true"
      :floating="true"
      mini-variant-width="12"
      :mini-variant.sync="mini"
      width="200"
    >
      <v-list dense>
        <v-list-tile target="_blank" :to="'/' + user.username + '/home'">
          <v-list-tile-action>
            <v-icon>home</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Home</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile :to="'/' + user.username + '/music'">
          <v-list-tile-action>
            <v-icon>fa-music</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>All Songs</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile :to="'/' + user.username + '/albums'">
          <v-list-tile-action>
            <v-icon>music_video</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Albums</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile to="/artiste">
          <v-list-tile-action>
            <v-icon>mic_none</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Artiste</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile :to="'/' + user.username + '/beats'">
          <v-list-tile-action>
            <v-icon>fa-archive</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Beats</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile :to="'/' + user.username + '/setting/subscription'">
          <v-list-tile-action>
            <v-icon>subscriptions</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Subscription</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-subheader class="mt-3 grey--text text--darken-1">Playlists
          <v-btn icon @click.stop="createPlaylist()"><v-icon>playlist_add</v-icon> </v-btn>
        </v-subheader>
        <v-list>
          <v-list-tile avatar @click="" v-for="(playlist, index) in playlists" :key="index">
            <v-list-tile-avatar>
              <img src="https://randomuser.me/api/portraits/men/28.jpg" alt="">
            </v-list-tile-avatar>
            <v-list-tile-title>{{ playlist.name }}</v-list-tile-title>
          </v-list-tile>
        </v-list>
        <!-- <v-list-tile :to="'/' + user.username + '/playlists'">
          <v-list-tile-action>
            <v-icon>fa-list-ul</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Playlists</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile> -->
        <v-list-tile :to="'/' + user.username + '/settings'">
          <v-list-tile-action>
            <v-icon>settings</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Settings</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <template v-for="item in items" :to="item.to">
          <v-layout
            row
            v-if="item.heading"
            align-center
            :key="item.heading"
          >
            <v-flex xs6>
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-flex>
            <v-flex xs6 class="text-xs-center">
              <a href="#!" class="body-2 black--text">EDIT</a>
            </v-flex>
          </v-layout>
          <v-list-group
            v-else-if="item.children"
            v-model="item.model"
            :key="item.text"
            :prepend-icon="item.model ? item.icon : item['icon-alt']"
            append-icon=""
          >
            <v-list-tile slot="activator" :to="item.to">
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ item.text }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile
              v-for="(child, i) in item.children"
              :key="i"
              :to="child.to"
            >
              <v-list-tile-action v-if="child.icon">
                <v-icon>{{ child.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ child.text }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-group>
          <v-list-tile v-else @click="" :key="item.text" :to="item.to">
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                {{ item.text }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      color="primary"
      dark
      app
      :clipped-left="true"
      fixed
    >
      <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <span class="hidden-sm-and-down" v-text="appName"></span>
      </v-toolbar-title>
      <v-text-field
        flat
        solo-inverted
        prepend-icon="search"
        label="Search"
        class="hidden-sm-and-down"
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>apps</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>notifications</v-icon>
      </v-btn>
      <v-menu offset-y>
        <v-btn icon large slot="activator">
          <v-avatar size="32px" tile>
            <img
              src="../../assets/logo.png"
              :alt="appName"
            >
          </v-avatar>
        </v-btn>
        <v-list>
            <v-list-tile @click.stop="signup = !signup" v-if="!authenticated">
              <v-list-tile-title>Sign Up</v-list-tile-title>
            </v-list-tile>
            <v-list-tile @click.stop="signin = !signin" v-if="!authenticated">
              <v-list-tile-title>Sign In</v-list-tile-title>
            </v-list-tile>
            <v-list-tile to="/account/home" v-if="authenticated">
              <v-list-tile-title>Home</v-list-tile-title>
            </v-list-tile>
            <v-list-tile to="/account/profile" v-if="authenticated">
              <v-list-tile-title>Profile</v-list-tile-title>
            </v-list-tile>
            <v-list-tile to="/account/settings" v-if="authenticated">
              <v-list-tile-title>Setting</v-list-tile-title>
            </v-list-tile>
            <v-list-tile @click="logout()" v-if="authenticated">
              <v-list-tile-title>Sign Out</v-list-tile-title>
            </v-list-tile>
          </v-list>
      </v-menu>
    </v-toolbar>	
	</div>
</template>

<script scoped>
  import { mapGetters, mapState } from 'vuex'
  export default {
    name: 'AppUSideMenu',
    data () {
      return {
        appName: process.env.appName,
        drawer: null,
        mini: false,
        items: [
          // { icon: 'help', text: 'Help' },
          { icon: 'phonelink', text: 'App downloads', to: '/app-downloads' },
          {
            icon: 'keyboard_arrow_up',
            'icon-alt': 'keyboard_arrow_down',
            text: 'Help',
            model: false,
            children: [
              { icon: 'fa-question-circle', text: 'Frequently Asked Questions', to: '/support/faqs' },
              { icon: 'fa-envelope-square', text: 'Email Us', to: '/support/email-us' },
              { icon: 'fa-phone-square', text: 'Email Us', to: '/support/call-us' },
              { icon: 'comments', text: 'Live Chat', to: '/support/live' },
              { icon: 'chat_bubble', text: 'Send feedback', to: '/support/send-feedback' }
            ]
          }
        ]
      }
    },
    computed: {
      ...mapState({
        // user: state => state.userStore.authUser
      }),
      ...mapGetters({
        authenticated: 'auth/check',
        user: 'auth/user',
        playlists: 'playlist/playlists'
      })
    },
    methods: {
      async logout () {
        // Log out the user.
        await this.$store.dispatch('auth/logout')

        // Redirect to login.
        this.$router.push({ name: 'login' })
      },

      createPlaylist () {
        this.$store.dispatch('playlist/setCreateShow')
      }
    }
  }
</script>

<style lang="css" scoped>
  
</style>