<template>
	<div>
    <v-navigation-drawer
      fixed
      :clipped="$vuetify.breakpoint.width > 1264"
      v-model="hideMenu"
      disable-route-watcher
      app
    >
      <v-list dense>
        <v-list-tile v-for="item in items" :key="item.text" @click="">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ item.text }}
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-subheader class="mt-3 grey--text text--darken-1">SUBSCRIPTIONS</v-subheader>
        <v-list>
          <v-list-tile v-for="item in items2" :key="item.text" avatar @click="">
            <v-list-tile-avatar>
              <img :src="`https://randomuser.me/api/portraits/men/${item.picture}.jpg`" alt="">
            </v-list-tile-avatar>
            <v-list-tile-title v-text="item.text"></v-list-tile-title>
          </v-list-tile>
        </v-list>
        <v-list-tile class="mt-3" @click="">
          <v-list-tile-action>
            <v-icon color="grey darken-1">add_circle_outline</v-icon>
          </v-list-tile-action>
          <v-list-tile-title class="grey--text text--darken-1">Browse Channels</v-list-tile-title>
        </v-list-tile>
        <v-list-tile @click="">
          <v-list-tile-action>
            <v-icon color="grey darken-1">settings</v-icon>
          </v-list-tile-action>
          <v-list-tile-title class="grey--text text--darken-1">Manage Subscriptions</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="amber" dense fixed clipped-left app extended>
      <v-toolbar-side-icon @click.stop="hideMenu = !hideMenu"></v-toolbar-side-icon>
      <v-toolbar-title
        :style="$vuetify.breakpoint.width > 1264 && 'width: 300px'"
        class="ml-0 pl-3"
        :class="$vuetify.breakpoint.width <= 1264 && 'pr-3'"
        slot="extension"
        to="/"
      >
        <img src="../../assets/logo.jpg" style="height:50px;" alt="">
        
      </v-toolbar-title>
      <v-layout row align-center style="max-width: 650px" v-show="search">
        <v-text-field
          placeholder="Search..."
          single-line
          append-icon="search"
          :append-icon-cb="() => {}"
          class="white--text"
          hide-details
        ></v-text-field>
        <v-btn icon @click="closeSearch">
          <v-icon>close</v-icon>
        </v-btn>
      </v-layout>
      <v-spacer v-show="menu"></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down" v-show="menu">
        <v-btn icon @click="openSearch">
          <v-icon>search</v-icon>
        </v-btn>
        <v-btn flat>Services</v-btn>
        <v-btn flat to="/profiles">Profiles</v-btn>
        <v-btn flat to="/browse">Browse</v-btn>
        <v-btn flat to="/news">News</v-btn>
        <v-btn flat>About</v-btn>
        <v-btn flat>Contact</v-btn>
        <v-menu offset-y>
          <v-btn flat dark slot="activator">Account</v-btn>
          <v-list>
            <v-list-tile @click.stop="signup = !signup" v-if="!this.$auth.isAuthenticated()">
              <v-list-tile-title>Sign Up</v-list-tile-title>
            </v-list-tile>
            <v-list-tile @click.stop="signin = !signin" v-if="!this.$auth.isAuthenticated()">
              <v-list-tile-title>Sign In</v-list-tile-title>
            </v-list-tile>
            <v-list-tile to="/account/home" v-if="this.$auth.isAuthenticated()">
              <v-list-tile-title>Home</v-list-tile-title>
            </v-list-tile>
            <v-list-tile to="/account/profile" v-if="this.$auth.isAuthenticated()">
              <v-list-tile-title>Profile</v-list-tile-title>
            </v-list-tile>
            <v-list-tile to="/account/settings" v-if="this.$auth.isAuthenticated()">
              <v-list-tile-title>Setting</v-list-tile-title>
            </v-list-tile>
            <v-list-tile @click="handleLogout()" v-if="this.$auth.isAuthenticated()">
              <v-list-tile-title>Sign Out</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
      </v-toolbar-items>
    </v-toolbar>

    <!-- Sign Up Component -->

    <v-dialog v-model="signup" persistent max-width="500px">
      <!-- <v-btn color="primary" dark slot="activator">Open Dialog</v-btn> -->
      <v-card>
        <v-btn icon flat @click.stop="signup = false" style="float: right;">
          <v-icon>fa-times</v-icon>
        </v-btn>
        <v-card-title class="text-xs-center d-block border-bottom-design">
          <span class="headline black--text text-xs-center">Sign Up</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <form>
                <v-text-field
                  v-model="name"
                  label="Full Name"
                  :error-messages="errors.collect('name')"
                  v-validate="'required|min:6|alpha_spaces'"
                  data-vv-name="name"
                  required
                ></v-text-field>
                <v-text-field
                  v-model="username"
                  label="Username"
                  hint="Enter email as your username"
                  :error-messages="errors.collect('username')"
                  v-validate="'required|email'"
                  data-vv-name="username"
                ></v-text-field>
                <v-text-field
                  name="password"
                  label="Enter your password"
                  :error-messages="errors.collect('password')"
                  hint="At least 8 characters"
                  v-model="password"
                  min="8"
                  type="password"
                  :append-icon="e1 ? 'visibility' : 'visibility_off'"
                  :append-icon-cb="() => (e1 = !e1)"
                  :type="e1 ? 'password' : 'text'"
                  data-vv-name="password"
                  v-validate="'required'"
                ></v-text-field>
                <v-text-field
                  name="confirm_password"
                  label="Retype password"
                  type="password"
                  :error-messages="errors.collect('confirm_password')"
                  hint="Retype your password"
                  v-model="confirm_password"
                  min="8"
                  :append-icon="e1 ? 'visibility' : 'visibility_off'"
                  :append-icon-cb="() => (e1 = !e1)"
                  :type="e1 ? 'password' : 'text'"
                  data-vv-name="confirm_password"
                  v-validate="'confirmed:password'"
                ></v-text-field>

                <v-btn class="btn-block" @click.stop="signUp" color="info"
                :loading="loader"
                :disabled="loader">SIGN UP
                <span slot="loader" class="custom-loader">
                  <v-icon light>cached</v-icon>
                </span>
              </v-btn>
                <p>
                  By signing up you agree to {{ this.$mad237Config.APP_NAME }}'s <a href="#">Privacy Policy</a> and <a href="#">Terms of Use</a>
                </p>
              </form>
            </v-layout>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <p>
            Already have an account <a @click.stop="switchSignUp">Sign In</a>
          </p>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Sign In Component -->

    <v-dialog v-model="signin" persistent max-width="500px">
      <!-- <v-btn color="primary" dark slot="activator">Open Dialog</v-btn> -->
      <v-card>
        <v-btn icon flat @click.stop="signin = false" style="float: right;">
          <v-icon>fa-times</v-icon>
        </v-btn>
        <v-card-title class="text-xs-center d-block border-bottom-design">
          <span class="headline black--text text-xs-center">Sign In</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <form>
                  <v-text-field
                    v-model="username"
                    label="Username"
                    hint="Enter email as your username"
                    :error-messages="errors.collect('username')"
                    v-validate="'required|email'"
                    data-vv-name="username"
                  ></v-text-field>
                  <v-text-field
                    name="password"
                    label="Enter your password"
                    :error-messages="errors.collect('password')"
                    hint="At least 8 characters"
                    v-model="password"
                    min="8"
                    :append-icon="e1 ? 'visibility' : 'visibility_off'"
                    :append-icon-cb="() => (e1 = !e1)"
                    :type="e1 ? 'password' : 'text'"
                    data-vv-name="password"
                    v-validate="'required'"
                  ></v-text-field>

                  <v-btn class="btn-block" @click.stop="signIn" color="info"
                    :loading="loader"
                    :disabled="loader">SIGN In
                    <span slot="loader" class="custom-loader">
                      <v-icon light>cached</v-icon>
                    </span>
                  </v-btn>
                </form>
              </v-flex>
            </v-layout>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <p>
            Don't have an account <a @click.stop="switchSignIn">Sign Up</a>
          </p>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-snackbar
      :timeout="6000"
      bottom="bottom"
      :multi-line="true"
      v-model="errorSnackbar"
      color="error"
    >
      {{ serverErrorMessage }}
      <v-btn flat color="pink" @click.stop="snackbar = false">Close</v-btn>
    </v-snackbar>

    <v-snackbar
      :timeout="6000"
      bottom="bottom"
      :multi-line="true"
      v-model="successSnackbar"
      color="info"
    >
      {{ serverSuccessMessage }}
      <v-btn flat color="pink" @click.stop="snackbar = false">Close</v-btn>
    </v-snackbar>
  </div>
</template>

<script scoped>
  export default {
    $_veeValidate: {
      validator: 'new'
    },
    data () {
      return {
        hideMenu: false,
        serverErrorMessage: '',
        serverSuccessMessage: '',
        errorSnackbar: false,
        successSnackbar: false,
        search: false,
        menu: true,
        signup: false,
        signin: false,
        e1: false,
        loader: false,
        name: '',
        username: '',
        password: '',
        confirm_password: '',
        items: [
          { icon: 'trending_up', text: 'Most Popular' },
          { icon: 'subscriptions', text: 'Subscriptions' },
          { icon: 'history', text: 'History' },
          { icon: 'featured_play_list', text: 'Playlists' },
          { icon: 'watch_later', text: 'Watch Later' }
        ],
        items2: [
          { picture: 28, text: 'Joseph' },
          { picture: 38, text: 'Apple' },
          { picture: 48, text: 'Xbox Ahoy' },
          { picture: 58, text: 'Nokia' },
          { picture: 78, text: 'MKBHD' },
        ],
        dictionary: {
          attributes: {
            email: 'E-mail Address',
            confirm_password: 'Password'
            // custom attributes
          },
          custom: {
            name: {
              required: () => 'Name can not be empty',
              max: 'The name field may not be greater than 10 characters'
              // custom messages
            },
            select: {
               required: 'Select field is required'
            }
          }
        }
      }
    },
    computed: {
    },
    mounted () {
      this.$validator.localize('en', this.dictionary)
    },
    methods: {
      openSearch () {
        this.menu = false,
        this.search = true
      },
      closeSearch () {
        this.search = false,
        this.menu = true
      },
      switchSignIn () {
        this.signup = true
        this.signin = false
      },
      switchSignUp () {
        this.signin = true
        this.signup = false
      },
      signUp () {
        this.$validator.validateAll().then(result => {
          if (result) {
            this.loader = true
            this.$store.dispatch('signUp', {username: this.username, name: this.name, password: this.password, password_confirmation: this.confirm_password})
               .then(response => {
                  this.loader = false
                 if (response.status === 302) {
                   this.$notify({ group: 'app-template', text: response.body.data.message, type: 'error', duration: 3000, speed: 1000 })
                 } else if (response.status === 200) {
                   // success message
                   this.serverSuccessMessage = response.body.message
                   this.successSnackbar = true
                   this.name = ''
                   this.username = ''
                   this.password = ''
                   this.password_confirmation = ''
                 } else if (response.status === 422) {
                    console.log(response.body)
                    // this.errorCollector(response.body, this)
                    var errors = response.body
                    var items = []
                    Object.keys(errors).forEach(function (key, self = this) {
                      items.push(errors[key][0])
                    })
                    this.displayErrors(items, this)
                  } else {
                    this.serverErrorMessage = 'Server timeout Exception Error!!!'
                    this.errorSnackbar = true
                 }
                }, response => {
                 // handle errors
                 this.loader = true
               })
          } else {
            // alert('Everything is not correct')
          }
        })
      },
      signIn () {
        this.serverSuccessMessage = ''
        this.serverErrorMessage = ''
        this.$validator.validateAll({
          username: this.username,
          password: this.password
        }).then(result => {
          if (result) {
            this.loader = true
            this.$store.dispatch('signIn', {username: this.username, password: this.password})
               .then(response => {
                 this.loader = false
                 if (response.status === 302) {
                   // this.$notify({ group: 'app-template', text: response.body.message, type: 'error', duration: 3000, speed: 1000 })
                   this.serverErrorMessage = response.body.message
                   this.errorSnackbar = true
                 } else if (response.status === 200) {
                   // this.$store.dispatch('signInStatus')
                   this.signin = false
                   this.$router.push('/account/home')
                 } else if (response.status === 401) {
                   this.serverErrorMessage = response.body.message
                   this.errorSnackbar = true
                 } else if (response.status === 422) {
                    // this.errorCollector(response.body, this)
                    var errors = response.body
                    var items = []
                    Object.keys(errors).forEach(function (key, self = this) {
                      items.push(errors[key][0])
                    })
                    this.displayErrors(items, this)
                 } else {
                  this.serverErrorMessage = 'Server timeout Exception Error!!!'
                  this.errorSnackbar = true
                 }
               }, response => {
                // handle errors
                  this.loader = true
               })
          } else {
            this.errorCollector(this.errors.items, this)
          }
        })
      },
      handleLogout () {
        this.$store.dispatch('clearAuthUser')
        this.$auth.destroyToken()
        this.$router.push({name: 'Welcome'})
      },
      errorCollector (items, self) {
        for (var i = 0, len = items.length; i < len; i++) {
          (function (i) {
            setTimeout(function () {
              var x = (i === 0) ? 0.5 : i / 2
              var time = 10000 * x
              var speed = 1000 * x
              self.$notify({ group: 'app-template', text: items[i].msg.replace(/_/g, ' '), type: 'error', duration: time, speed: speed })
              // self.$notify({ group: 'app-template', title: items[i].field.replace(/_/g, ' ') + ':', text: items[i].msg.replace(/_/g, ' '), type: 'error', duration: time, speed: speed })
            }, 1500 * i)
          })(i)
        }
      },
      displayErrors (items, self) {
        for (var i = 0, len = items.length; i < len; i++) {
          (function (i) {
            setTimeout(function () {
              var x = (i === 0) ? 0.5 : i / 2
              var time = 10000 * x
              var speed = 1000 * x
              self.$notify({ group: 'app-template', text: items[i].replace(/_/g, ' '), type: 'error', duration: time, speed: speed })
              // self.$notify({ group: 'app-template', title: items[i].field.replace(/_/g, ' ') + ':', text: items[i].msg.replace(/_/g, ' '), type: 'error', duration: time, speed: speed })
            }, 1500 * i)
          })(i)
        }
      }
    }
  }
</script>

<style scoped>
  .d-block {
    display: block !important;
  }
  .border-bottom-design {
    border-bottom-style: solid;
    border-bottom-width: 0.2em;
    border-bottom-color: lightgray;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    margin-left: 4em;
    margin-right: 4em;
  }
  .custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>