<template>
	<v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline">Create Playlist</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <form>
							    <v-text-field
							      label="Name"
							      v-model="name"
							      :error-messages="errors.collect('name')"
	                  v-validate="'required'"
	                  data-vv-name="name"
							      required
							    ></v-text-field>
							    <v-text-field
							      label="Description"
							      v-model="description"
							      multi-line
							      :error-messages="errors.collect('description')"
	                  v-validate="'required'"
	                  data-vv-name="description"
							      required
							    ></v-text-field>
							    <v-switch style="display:inline-block;" color="red darken-3" :toggle-keys="['public', 'private']" :label="'Privacy ['+privacy+']'" v-model="privacy" input-value="['public', 'private']" false-value="private" true-value="public"></v-switch>
							    <span class="red--text">If playlist is made PUBLIC ALL USERS ON MAD237 can listen and comment on playlist BUT if PRIVATE ONLY YOU CAN ENJOY IT</span>

							    <input type="file" style="display:none" ref="imageInput" @change="onFileSelected">
			      			<v-btn color="secondary" large @click="$refs.imageInput.click()"> <v-icon>fa-camera</v-icon> &nbsp; {{ localMessage }}</v-btn>
							  </form>
              </v-flex>
              </v-flex>
            </v-layout>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="secondary" flat @click.native="closeDialog">Close</v-btn>
          <v-btn @click="create" color="blue" :loading="loader"
						:disabled="loader">Create playlist
						<span slot="loader" class="custom-loader">
						  <v-icon light>cached</v-icon>
						</span>
					</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
	import { mapGetters, mapState } from 'vuex'
	export default {
		data () {
			return {
				dialog: false,
				loader: false,
				name: '',
				description: '',
				privacy: 'private',
				picture: '',
				localMessage: 'Choose image',
				selectedFile: ''
			}
		},

		watch: {
			createPlaylist () {
				this.dialog = this.createPlaylist
			}
		},

	  computed: {
	    ...mapGetters({
	    	user: 'auth/user',
	      createPlaylist: 'playlist/createShow',
	    })
	  },

	  methods: {
	    onFileSelected (event) {
	    	this.selectedFile = event.target.files[0]
      	this.localMessage = this.selectedFile.name
	    },

	  	create () {
	  		this.$store.dispatch('playlist/createPlaylist', { user_id: this.user, name: this.name, description: this.description, privacy: this.privacy})
	  		.then(response => {
	  			this.closeDialog()
	  		})
	  	},

	  	closeDialog () {
	  		this.selectedFile = ''
	  		this.$store.dispatch('playlist/setCreateShow')
	  	}
	  }
	}


</script>