<template>
  <div class="text-xs-center">
    <v-bottom-sheet inset v-model="showPlayer" persistent :hide-overlay="true">
      <plyr-audio style="display:none !important;" ref="player" :tracks="playing" :emit="['timeupdate','progress', 'ready']" @timeupdate="timeUpdated" @progress="progress" @ready="playerReady" />
      <v-card tile v-if="playing" v-for="(play, index) in playing" :key="index">
        <v-progress-linear height="10" :value="progressBar" class="my-0"></v-progress-linear>
        <v-list class="">
          <v-list-tile>
            <v-list-tile-avatar tile size="60">
              <img :src="play.pic">
            </v-list-tile-avatar>
            <v-spacer></v-spacer>
            <v-list-tile-content>
              <router-link :to="'/artiste/' + play.artistSlug" tag="a">{{ play.author }}</router-link>
              <!-- <v-list-tile-title ></v-list-tile-title> -->
              <v-list-tile-sub-title>{{ play.title }}</v-list-tile-sub-title>
              <v-list-tile-sub-title>{{ currentTime }}</v-list-tile-sub-title>
            </v-list-tile-content>
            <v-spacer></v-spacer>
            <v-list-tile-content class="pt-0" style="height: 80px;">
              <v-slider min="1" max="100" thumb-label :prepend-icon="(volume === 1) ? 'volume_mute' : 'volume_up'" v-model="volume" track-color="orange darken-3"></v-slider>
            </v-list-tile-content>
            <v-spacer></v-spacer>
            <v-list-tile-action>
              <v-btn icon>
                <v-icon>skip_previous</v-icon>
              </v-btn>
            </v-list-tile-action>
            <v-list-tile-action :class="{ 'mx-5': $vuetify.breakpoint.mdAndUp }">
              <v-btn icon @click.stop="pauseTrack()" v-if="isPlaying">
                <v-icon color="secondary">pause</v-icon>
              </v-btn>
              <v-btn icon @click.stop="playTrack()" v-if="!isPlaying">
                <v-icon color="primary">play_arrow</v-icon>
              </v-btn>
            </v-list-tile-action>
            <v-list-tile-action :class="{ 'mr-3': $vuetify.breakpoint.mdAndUp }">
              <v-btn icon>
                <v-icon>skip_next</v-icon>
              </v-btn>
            </v-list-tile-action>
            <!-- <v-list-tile-action :class="{ 'mr-3': $vuetify.breakpoint.mdAndUp }">
              <v-btn icon>
                <v-icon>repeat</v-icon>
              </v-btn>
            </v-list-tile-action> -->
            <v-list-tile-action :class="{ 'mr-3': $vuetify.breakpoint.mdAndUp }">
              <v-btn icon @click.stop="loopTrack()">
                <v-icon :color="(loop) ? 'primary' : 'secondary'">repeat_one</v-icon>
              </v-btn>
            </v-list-tile-action>
            <v-list-tile-action :class="{ 'mr-3': $vuetify.breakpoint.mdAndUp }">
              <v-btn icon @click.native="reloadTrack()">
                <v-icon>playlist_add</v-icon>
              </v-btn>
            </v-list-tile-action>
            <v-list-tile-action :class="{ 'mr-3': $vuetify.breakpoint.mdAndUp }">
              <v-btn icon>
                <v-icon>thumb_up</v-icon>
              </v-btn>
            </v-list-tile-action>
            <v-list-tile-action :class="{ 'mr-3': $vuetify.breakpoint.mdAndUp }">
              <v-btn icon>
                <v-icon>share</v-icon>
              </v-btn>
            </v-list-tile-action>
          </v-list-tile>
        </v-list>
      </v-card>
    </v-bottom-sheet>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
  export default {

    data () {
      return {
        currentTime: "00:00",
        volume: 50,
        progressBar: 0,
        loop: false
      }
    },

    watch: {
      volume (val) {
        this.manipulateVolume(val)
      },
      playing () {
        this.pauseTrack()
        this.reloadTrack()
        this.playTrack()
        if (!this.showPlayer) {
          this.$store.dispatch('player/setPlayerVisibility')
        }
      }
    },

    computed: {
      ...mapGetters({
        showPlayer: 'player/show',
        isPlaying: 'player/isPlaying',
        playing: 'player/playing',
        tracks: 'music/songs',
        playing: 'player/playing',
        isPlaylistAvailable: 'player/isPlaylistAvailable'
      }),

      // song: this.$store.getter['player/song']()
    },

    methods: {
      playerReady () {
        console.log('Player Is Ready')
      },

      timeUpdated (test) {
        // console.log(test.timeStamp)
        // console.log(this.$refs.player.$el.currentTime)
        this.progressBar = ((parseFloat(this.$refs.player.$el.currentTime) / parseFloat(this.$refs.player.$el.duration)) * 100).toFixed(2)
        this.currentTime = ((parseFloat(this.$refs.player.$el.currentTime / 60)).toFixed(2) - (parseFloat(this.$refs.player.$el.duration / 60)).toFixed(2)).toFixed(2)
      },

      progress (test) {
        console.log(test)
      },

      playTrack () {
        this.$refs.player.$el.play()
        // console.log(this.$refs.player.$el)
        this.currentTime = (parseFloat(this.$refs.player.$el.duration / 60)).toFixed(2)
        console.log(this.$refs.player.$el.duration)
        this.$store.dispatch('player/setIsPlaying')
      },

      pauseTrack () {
        this.$refs.player.$el.pause()
        // this.$refs.player.$el.stop
        console.log(this.$refs.player.$el.duration)
        this.$store.dispatch('player/setIsPlaying')
      },

      reloadTrack () {
        this.$refs.player.$el.load()
      },

      loopTrack () {
        this.loop = !this.loop
        this.$refs.player.$el.loop = !this.loop
      },

      autoPlay () {
        this.$refs.player.$el.autoplay = true
      },

      increaseVolume () {

      },

      manipulateVolume (step) {
        this.$refs.player.$el.volume = parseFloat(step/100).toFixed(1)
      },

      
      addSongToPlaylist () {
        this.loader = true
        this.$store.dispatch('addSongToPlaylist', {playlist_id: this.playlist_id, song_id: this.playlistAvatar.id})
          .then(response => {
            this.loader = false
            if (response.status === 302) {
              this.serverErrorMessage = response.body.message
              this.errorSnackbar = true
            } else if (response.status === 200) {
              this.additionalData.playlist_id = response.body.data.id
              this.serverSuccessMessage = response.body.message
              this.successSnackbar = true
              this.playlistForm = false
              this.createdPlaylist = true
              // this.switchLayout()
            } else if (response.status === 401) {
              this.serverErrorMessage = 'session has expired'
              this.errorSnackbar = true
              this.$store.dispatch('clearAuthUser')
            } else if (response.status === 422) {
               // this.errorCollector(response.body, this)
               var errors = response.body
               var items = []
               Object.keys(errors).forEach(function (key, self = this) {
                      items.push(errors[key][0])
               })
               this.displayErrors(items, this)
            } else {
             this.serverErrorMessage = 'Server timeout Exception Error!!!'
             this.errorSnackbar = true
            }
          }, response => {
           // handle errors
            this.loader = false
        })
      },
      likeSong (song) {
        this.loader = true
        this.$store.dispatch('likeSong', {song_id: this.song.id})
          .then(response => {
            this.loader = false
            if (response.status === 302) {
              this.serverErrorMessage = response.body.message
              this.errorSnackbar = true
            } else if (response.status === 200) {
              this.additionalData.playlist_id = response.body.data.id
              this.serverSuccessMessage = response.body.message
              this.successSnackbar = true
              this.playlistForm = false
              this.createdPlaylist = true
              // this.switchLayout()
            } else if (response.status === 401) {
              this.serverErrorMessage = 'session has expired'
              this.errorSnackbar = true
              this.$store.dispatch('clearAuthUser')
            } else if (response.status === 422) {
               // this.errorCollector(response.body, this)
               var errors = response.body
               var items = []
               Object.keys(errors).forEach(function (key, self = this) {
                      items.push(errors[key][0])
               })
               this.displayErrors(items, this)
            } else {
             this.serverErrorMessage = 'Server timeout Exception Error!!!'
             this.errorSnackbar = true
            }
          }, response => {
           // handle errors
            this.loader = false
        })
      },
    }
  }
</script>

<style>
  .plyr__controls {
    display: none !important;
  }
</style>