<template>
	<v-container fluid  grid-list-xs>
		<v-layout row wrap>
			<v-flex xs12 class="pt-2 pb-2">
				<v-subheader class="headline black--text">Latest News</v-subheader>
			</v-flex xs12>
			<v-layout row wrap
      >
      	<v-news v-if="blogs" v-for="(ad, index) in blogs" :key="index" :ad="ad"></v-news>
      </v-layout>
      <v-flex xs12 class="pt-2 pb-2">
    		<v-subheader class="headline black--text">Latest Artiste</v-subheader>
    	</v-flex xs12>
    	<v-layout row wrap
      >
      	<v-artiste v-if="artiste" v-for="(ad, index) in artiste" :key="index" :ad="ad"></v-artiste>
      </v-layout>
    	<!-- <v-subheader>Trending Playlist(s)</v-subheader>
    	<v-layout row wrap
      >
      	<v-artiste v-if="latestProfiles" v-for="(ad, index) in latestProfiles" :key="index" :ad="ad"></v-artiste>
      </v-layout> -->
    	<v-flex xs12 class="pt-2 pb-2">
    		<v-subheader class="headline black--text">Latest Single(s)</v-subheader>
    	</v-flex xs12>
    	<v-layout row wrap
      >
      	<v-songs v-if="songs" v-for="(ad, index) in songs" :key="index" :ad="ad"></v-songs>
      </v-layout>

			<h1 class="font-bold peach-gradient blink" style="width:100%;">
    		<span>Promotions</span>
    	</h1>
    	<v-layout row wrap
      >
      	<v-artiste v-if="promotions" v-for="(ad, index) in promotions" :key="index" :ad="ad"></v-artiste>
      </v-layout>
		</v-layout>
	</v-container>
</template>

<script>
  import { mapGetters, mapState } from 'vuex'
	import Artiste from './Artiste.vue'
	import News from './News.vue'
	import Songs from './Songs.vue'
	export default {
		name: 'Promotions',
		data () {
			return {}
		},
		components: {
			'v-artiste': Artiste,
			'v-news': News,
			'v-songs': Songs
		},
    computed: {
      ...mapGetters({
        artiste: 'latest/artiste',
        blogs: 'latest/blogs',
        songs: 'latest/songs',
        promotions: 'latest/promotions'
      })
    },
		created () {
      this.$store.dispatch('latest/fetchArtiste')
      this.$store.dispatch('latest/fetchBlogs')
      this.$store.dispatch('latest/fetchSongs')
		},
		methods: {}
	}
</script>