<template>
	<v-flex xs12>
		<v-container>
			<v-layout row wrap>
				<v-flex xs1>
					<avatar :username="comment.name" background-color="#ffab00" color="#ffffff"></avatar>
				</v-flex>
				<v-flex xs11>
					<span class="grey--text title">{{ comment.name }}</span> -- <span class="grey--text lighten-1 caption">{{ comment.created }}</span>
					<div v-text="comment.comment"></div>
				</v-flex>
			</v-layout>
		</v-container>
	</v-flex>
</template>

<script scoped>
	export default {
		name: 'Comment',
		props: ['comment'],
		data () {
			return {}
		},
	}
</script>