<template>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex xs12 sm12 md8>
        <v-container>
          <v-layout row class="mb-2">
            <h2 class="display-1">News</h2>
            <v-spacer></v-spacer>
            <v-select
              :items="categories"
              v-model="filter"
              label="Filter"
              single-line
              item-text="title"
              item-value="id"
              auto
              append-icon="fa-filter"
              hide-details
              @change="filterBlogs"
            ></v-select>
          </v-layout>
          <v-layout row wrap
          >
            <v-blog-post v-if="blogs" v-for="(blog, index) in blogs" :key="index" :blog="blog"></v-blog-post>
          </v-layout>
          <v-btn color="black" dark v-if="pagination.current_page !== pagination.total_pages" @click.stop="fetchMore(pagination.links.next)" :loading="loader"
            :disabled="loader">load more
            <span slot="loader" class="custom-loader">
              <v-icon light>cached</v-icon>
            </span>
          </v-btn>
        </v-container>
      </v-flex>
      <v-flex xs12 sm12 md3 offset-md class="ml-5">
        <v-promotion></v-promotion>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script scoped>
  import { mapGetters, mapState} from 'vuex'
  import Card from '@/components/news/Card.vue'
  import Promotion from '@/components/Promotions/Index.vue'
  export default {
    name: 'blogs',

    head () {
      return { title: 'News' }
    },

    data () {
      return {
        appName: process.env.appName,
        loader: false,
        filter: '',
        filterParams: {
          category_id: ''
        }
      }
    },
    components: {
      'v-blog-post': Card,
      'v-promotion': Promotion,
    },
    computed: {
      ...mapGetters({
        categories: 'blog/categories',
        blogs: 'blog/blogs',
        pagination: 'blog/meta'
      })
    },
    created () {
      this.$store.dispatch('blog/fetchCategories')
      this.$store.dispatch('blog/fetchBlogs')
    },
    methods: {
      filterBlogs (val) {
        this.filterParams.category_id = val
        this.loadMyResponse.trigger = true
      },
      
      async fetchMore (url) {   
        this.loader = true
        await this.$store.dispatch('blog/fetchMoreBlogs', {url})
        this.loader = false
      },

      async filteredResponse (letter) {
        await this.$store.dispatch('blog/filterBlogs', {letter})
      }
    }
  }
</script>

<style scoped>
  
</style>