<template>
  <v-container fluid  grid-list-xs>
    <!-- <v-layout row wrap> -->
      <v-layout row class="mb-2">
        <v-spacer></v-spacer>
        <v-select
          :items="genres"
          v-model="filter"
          label="Filter profiles by genre"
          single-line
          item-text="title"
          item-value="id"
          auto
          append-icon="fa-filter"
          hide-details
          @change="filterProfiles"
        ></v-select>
      </v-layout>
      <v-layout row>
        <v-btn small icon @click.stop="filteredResponse('A')">A</v-btn> 
        <v-btn small icon @click.stop="filteredResponse('B')">B</v-btn> 
        <v-btn small icon @click.stop="filteredResponse('C')">C</v-btn> 
        <v-btn small icon @click.stop="filteredResponse('D')">D</v-btn> 
        <v-btn small icon @click.stop="filteredResponse('E')">E</v-btn> 
        <v-btn small icon @click.stop="filteredResponse('F')">F</v-btn> 
        <v-btn small icon @click.stop="filteredResponse('Z')">Z</v-btn>
      </v-layout>
      <v-layout row wrap>
        <artiste-card v-if="artiste" v-for="(artiste, index) in artiste" :key="index" :artiste="artiste"></artiste-card>
      </v-layout>
      <v-btn color="black" dark v-if="pagination.current_page !== pagination.total_pages" @click.stop="fetchMore(pagination.links.next)" :loading="loader"
        :disabled="loader">load more
        <span slot="loader" class="custom-loader">
          <v-icon light>cached</v-icon>
        </span>
      </v-btn>
  </v-container>
</template>

<script scoped>
  import { mapGetters, mapState} from 'vuex'
  import ArtisteCard from '@/components/artiste/Card.vue'
  export default {
    name: 'artiste',

    head () {
      return { title: 'Browse Artiste' }
    },
    
    data () {
      return {
        appName: process.env.appName,
        loader: false,
        canLoad: false,
        genres: [],
        filter: '',
        filterParams: {
          genre_id: ''
        },
      }
    },
    components: {
      'artiste-card': ArtisteCard
    },
    computed: {
      ...mapGetters({
        artiste: 'artiste/filteredArtiste',
        pagination: 'artiste/meta'
      })
    },

    created() {
      this.$store.dispatch('artiste/fetchArtiste')
    },

    methods: {
      filterProfiles (val) {
        this.filterParams.genre_id = val
        this.loadMyResponse.trigger = true
      },
      
      async fetchMore (url) {   
        this.loader = true
        await this.$store.dispatch('artiste/fetchMoreArtiste', {url})
        this.loader = false
      },

      async filteredResponse (letter) {
        await this.$store.dispatch('artiste/filterArtiste', {letter})
      }
    },
  }
</script>

<style scoped>
  .item {
  background-color: #eee;
  padding: 10px;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: monospace;
  color: #333;
}

.is-checked {
  background-color: #28F;
}

.isoDefault {
  min-height: 210px;
}

</style>