<template>
	<v-container fluid grid-list-xs>
    <v-layout row wrap>
    	<v-flex :class="(authenticated) ? 'xs12' : 'xs12 sm12 md8 pr-2'" v-if="artist">
    		<v-card v-if="artist">
		        <v-card-media
		          class="white--text"
		          height="700px"
		          :src="artist.pic"
		        >
		          <v-container fill-height fluid>
		            <v-layout fill-height>
		              <v-flex xs12 align-end flexbox>
		                <span class="headline" v-text="artist.stageName"></span>
		              </v-flex>
		            </v-layout>
		          </v-container>
		        </v-card-media>
		        <v-card-title>
		        	<v-layout row wrap>
		        		<v-flex xs6>
		        			<h3 style="text-transform: capitalize" class="grey--text" v-text="artist.type"></h3>
			            <!-- <span style="text-transform: capitalize" v-text="artist.genre.data.title"></span><br> -->
			            <h3 v-text="artist.name"></h3>
		        		</v-flex>
		        		<v-flex xs6>
		        			<h4 class="grey--text text-xs-right title"> <v-icon>fa-users</v-icon> <span class="secondary--text">followers:</span> 1000000</h4>
		        		</v-flex>
		        	</v-layout>
		          <div>
		            
		          </div>
		        </v-card-title>
		        <v-card-actions>
		          <social-sharing 
				        url=""
				        :title="'Profile Page of ' + artist.stageName"
				        :description="artist.readmore"
				        :quote="artist.readmore"
				        hashtags="music,artist profiling,cameroon"
                twitter-user="Mad237"
                :media="artist.pic"
				        inline-template
				      >
				      <div>
				         <network network="facebook">
				            <v-btn dark small color="blue darken-4" icon>
				                <v-icon dark small>fa-facebook</v-icon>
				            </v-btn>
				         </network>
				         <network network="twitter">
				            <v-btn dark small color="blue darken-4" icon>
				              <v-icon dark small>fa-twitter</v-icon>
				            </v-btn>
				         </network>
				         <network network="googleplus">
				            <v-btn dark small color="red accent-4" icon>
				              <v-icon dark small>fa-google-plus</v-icon>
				            </v-btn>
				         </network>
				         <network network="linkedin">
				            <v-btn dark small color="blue darken-4" icon>
				              <v-icon dark small>fa-linkedin</v-icon>
				            </v-btn>
				         </network>
				         <network network="pinterest">
				            <v-btn dark small color="red accent-4" icon>
				              <v-icon dark small>fa-pinterest</v-icon>
				            </v-btn>
				         </network>
				         <network network="skype">
				            <v-btn dark small color="cyan darken-1" icon>
				              <v-icon dark small>fa-skype</v-icon>
				            </v-btn>
				         </network>
				         <network network="whatsapp">
				            <v-btn dark small color="green darken-4" icon>
				              <v-icon dark small>fa-whatsapp</v-icon>
				            </v-btn>
				         </network>
				        </div>
				      </social-sharing>
				      <v-spacer></v-spacer>
				      <v-btn color="primary"> <v-icon small>fa-link</v-icon> &nbsp; Follow</v-btn>
		        </v-card-actions>
		      </v-card>
		      <v-artiste v-if="artist.photos":artist="artist"></v-artiste>

    		<v-btn large color="red white--text" style="font-size:2em;" to="/submit_content/artist_profile">APPLY NOW FOR YOUR OWN ARTIST PROFILE</v-btn>

    		<h1 class="display-2 mt-4 mb-4">Related Artiste</h1>
        <v-layout row wrap v-if="artist.related">
          <artiste-card v-for="(artist, i) in artist.related.data" :key="i" :artiste="artist"></artiste-card>
        </v-layout>
    	</v-flex>

    	<v-flex v-if="!authenticated" xs12 sm12 md3 offset-md class="ml-5">
    		<v-promotion></v-promotion>
    	</v-flex>
    </v-layout>
	</v-container>
</template>

<script scoped>
	import axios from 'axios'
	import { mapGetters, mapState } from 'vuex'
	import Promotion from '@/components/Promotions/Index.vue'
	import Artiste from '@/components/artiste/Artiste.vue'
	import Brand from '@/components/artiste/Brand.vue'
	import Producer from '@/components/artiste/Producer.vue'
  import ArtisteCard from '@/components/artiste/Card.vue'
	export default {
    name: 'artist',

    head () {
      return { title: this.artist.stageName }
    },

		asyncData ({ params, error }) {
	    return axios.get(process.env.musicApi + `/get/profile_by_slug/${params.slug}`)
	    .then((res) => {
	      return { artist: res.data.data }
	    })
	    .catch((e) => {
	      error({ statusCode: 404, message: 'Profile Not found' })
	    })
	  },

		data () {
			return {}
		},
		components: {
			'v-artiste': Artiste,
			'v-brand': Brand,
			'v-producer': Producer,
			'v-promotion': Promotion,
      'artiste-card': ArtisteCard
		},
		computed: {
			...mapGetters({
				authenticated: 'auth/check'
				// artist: 'artiste/artist'
			})
		},
		mounted() {},
    methods: {}
	}
</script>

<style scoped>
	.image-460x270 {
		width: 460px;
		height: 220px;
	}
</style>