<template>
	<v-container fluid grid-list-xs>
	  <v-subheader class="display-1">Beats Store</v-subheader>
		<v-layout row wrap>
	    <v-flex xs12 sm12 md9 lg9 class="blue lighten-3 pr-2">
				<aplayer ref="player" preload="auto" :autoplay="autoplay" :music="music"></aplayer>
	    	<v-card>
			    <v-card-title>
				    <v-select
			        :items="genres"
			        v-model="filter"
			        label="Filter"
			        single-line
		          item-text="title"
		          item-value="id"
			        auto
			        append-icon="fa-filter"
			        hide-details
          		@change="filterBeats"
			      ></v-select>
		        <v-spacer></v-spacer>
			      <v-text-field
			        append-icon="search"
			        label="Search"
			        single-line
			        hide-details
			        v-model="search"
			      ></v-text-field>
			    </v-card-title>
			    <v-layout row wrap
			    class="scroll-y"
			    style="max-height: 500px"
			    >
				    <v-data-table
				      :headers="headers"
				      :items="beats"
				      :search="search"
				      v-if="beats"
				      :hide-actions="true"
				      :rows-per-page-items="[9,18,150,{'text':'All','value':-1}]"
				    >
				      <template slot="items" slot-scope="props">
				        <td>
				        	<img :src="props.item.pic" :alt="props.item.title" class="aplayer-list-pic">
				        </td>
				        <td class="text-xs-left">
				        	<router-link :to="'/artiste/' + props.item.profile.data.slug">{{ props.item.profile.data.name }}</router-link>
				        </td>
				        <td class="text-xs-left">{{ props.item.genre.data.title }}</td>
				        <td class="text-xs-left">{{ props.item.name }}</td>
				        <td class="text-xs-left">{{ props.item.bit_per_minute }}</td>
				        <td class="text-xs-left">{{ props.item.length }}</td>
				        <!-- <td class="text-xs-left">
							    <v-tooltip top>
							    	<v-btn icon small slot="activator" color="">
							    		<v-icon>fa-share</v-icon>
							    	</v-btn>
							    	<span>share beat</span>
							    </v-tooltip>
				        </td> -->
				        <td class="text-xs-left">{{ props.item.price }}</td>
				        <td class="text-xs-left">
				        	<v-tooltip top>
							    	<v-btn icon small color="amber" slot="activator" @click.stop="playBeat(props.item)">
							    		<v-icon>fa-play-circle</v-icon>
							    	</v-btn>
							    	<span>sample beat</span>
							    </v-tooltip>
							    <v-tooltip top v-if="props.item.price !== '0'">
							    	<v-btn icon small color="amber" slot="activator" @click.stop="add_Beat_To_Cart(props.item)">
							    		<v-icon>fa-cart-plus</v-icon>
							    	</v-btn>
							    	<span>add to cart</span>
							    </v-tooltip>
							    <v-tooltip top v-if="props.item.price === '0'">
							    	<v-btn icon small color="green" slot="activator" @click.stop="downloadNow(props.item)">
							    		<v-icon>fa-download</v-icon>
							    	</v-btn>
							    	<span>click to download</span>
							    </v-tooltip>
							    <v-tooltip top>
								    <v-btn flat icon small slot="activator" @click="props.expanded = !props.expanded">
								    	<v-icon>fa-info-circle</v-icon>
								    </v-btn>
							    	<span>read more</span>
							    </v-tooltip>
							    <v-btn flat icon small @click="">
								    	<v-icon>share</v-icon>
								    </v-btn>
				        </td>
				      </template>
				      <v-alert slot="no-results" :value="true" color="error" icon="warning">
				        Your search for "{{ search }}" found no results.
				      </v-alert>
				      <template slot="no-data">
					      <v-alert :value="true" color="error" icon="warning">
					        Sorry, nothing to display here :(
					      </v-alert>
					    </template>
					    <template slot="expand" slot-scope="props">
					      <v-card flat>
					        <v-card-text>
					        	{{ props.item.description }}
					        </v-card-text>
					      </v-card>
					    </template>
					    <template slot="footer">
					      <td colspan="100%">
					        <v-spacer></v-spacer>
					        <v-btn color="black" dark v-if="pagination.current_page !== pagination.total_pages" @click.stop="fetchMore(pagination.links.next)" :loading="loader"
						        :disabled="loader">load more
						        <span slot="loader" class="custom-loader">
						          <v-icon light>cached</v-icon>
						        </span>
						      </v-btn>
					      </td>
					    </template>
				    </v-data-table>
			  	</v-layout>
			  </v-card>
			  <v-container>
			  	<v-layout row wrap>
			  		<v-flex xs12>
			  			<h1 class="text-xs-center special-heading">Pricing & <span class="orange--text accent-3">Discounts</span></h1>
					    <!-- <p class="help-block text-xs-center" style="font-size: .8em; letter-spacing: .036em;">We provide the best and affordable services</p> -->
					    <div class="separator text-xs-center mt-0">
					      <span><i class="fa fa-circle"></i></span>
					    </div>
			  		</v-flex>
			  		<v-data-iterator
				      content-tag="v-layout"
				      row
				      wrap
				      :items="items"
				      :pagination.sync="paginationR"
				      style="width:100%;"
				      :hide-actions="true"
				    >
				      <v-flex
				        slot="item"
				        slot-scope="props"
				        xs12
				        sm6
				        md3
				        lg3
				        pr-1
				      >
				        <v-card>
				          <v-card-title :class="props.item.color"><h4>{{ props.item.name }}</h4></v-card-title>
				          <v-divider></v-divider>
				          <v-list dense>
				            <v-list-tile>
				              <!-- <v-list-tile-content>Calories:</v-list-tile-content> -->
				              <v-list-tile-content class="align-center"><strong>${{ props.item.price }} /1 Beat</strong></v-list-tile-content>
				            </v-list-tile>
				            <v-list-tile>
				              <v-list-tile-content>
				              	<v-icon small>fa-tag</v-icon>
				              </v-list-tile-content>
				              <v-list-tile-content class="">{{ props.item.buy_3 }}</v-list-tile-content>
				            </v-list-tile>
				            <v-list-tile>
				              <v-list-tile-content>
				              	<v-icon small>fa-tag</v-icon>
				              </v-list-tile-content>
				              <v-list-tile-content class="">{{ props.item.buy_5 }}</v-list-tile-content>
				            </v-list-tile>
				          </v-list>
				        </v-card>
				      </v-flex>
				    </v-data-iterator>
				    <v-flex xs12 class="mt-4">
				    	<v-jumbotron
						    src="/slides/1.jpg"
						    :gradient="gradient"
						    dark
						    heigth="200"
						  >
						    <v-container fill-height>
						      <v-layout align-center>
						        <v-flex text-xs-center>
						          <h3 class="display-3">Custom Service</h3>
						          <v-subheader class="text-xs-center d-block">YOU WANT MIXING AND MASTERING?</v-subheader>
						          <v-btn color="blue" large to="/mixing_and_mastering">CHECKOUT OUR MIXING AND MATERING OPTIONS</v-btn>
						        </v-flex>
						      </v-layout>
						    </v-container>
						  </v-jumbotron>
				    </v-flex>
				    <v-flex xs12>
			  			<h1 class="text-xs-center special-heading">LICENSE <span class="orange--text accent-3">OPTIONS</span></h1>
					    <p class="help-block text-xs-center" style="font-size: .8em; letter-spacing: .036em;">CHOOSE YOUR LICENSE</p>
					    <div class="separator text-xs-center mt-0">
					      <span><i class="fa fa-circle"></i></span>
					    </div>
			  		</v-flex>
			  		<v-data-iterator
				      content-tag="v-layout"
				      row
				      wrap
				      :items="licenses"
				      :pagination.sync="paginationL"
				      :hide-actions="false"
				      :rows-per-page-items="[4, {'text':'All','value':-1}]"
				    >
				      <v-flex
				        slot="item"
				        slot-scope="props"
				        xs12
				        sm3
				        md3
				        lg3
				      >
				        <v-card>
				          <v-card-title :class="props.item.color"><h4>{{ props.item.name }}</h4></v-card-title>
				          <v-divider></v-divider>
				          <v-list dense>
				            <v-list-tile class="blue-grey darken-1 white--text">
				              <v-list-tile-content class="align-center">{{ props.item.price }}</v-list-tile-content>
				            </v-list-tile>
				            <v-list-tile v-for="(lease, index) in props.item.items" :key="index">
				              <v-list-tile-content>
				              	<v-icon small :color="lease.color">{{ lease.icon }}</v-icon>
				              </v-list-tile-content>
				              <v-list-tile-content class="">{{ lease.text }}</v-list-tile-content>
				            </v-list-tile>
				          </v-list>
				          <v-card-actions>
				          	<v-btn block color="primary" to="/beats_license">Read More</v-btn>
				          </v-card-actions>
				        </v-card>
				      </v-flex>
				    </v-data-iterator>
				    <v-flex xs12>
				    	<v-jumbotron
						    src="/slides/1.jpg"
						    :gradient="gradient"
						    dark
						  >
						    <v-container fill-height>
						      <v-layout align-center>
						        <v-flex text-xs-center>
						          <h3 class="display-3">Custom Service</h3>
						          <v-subheader class="text-xs-center d-block">We can produce custom instrumentals according to your tastes and needs.</v-subheader>
						          <v-btn color="blue" large to="/custom_beats_plan">Learn More</v-btn>
						        </v-flex>
						      </v-layout>
						    </v-container>
						  </v-jumbotron>
				    </v-flex>
			  	</v-layout>
			  </v-container>
	    </v-flex>
	    <v-flex xs12 sm12 md3 lg3 class="pl-2">
    		<v-beat-sidebar />
    	</v-flex>
	  </v-layout>
	  <v-dialog v-model="selectedBeatMenu" max-width="500px">
        <v-card>
          <v-card-title>
            Beat Cart Menu
          </v-card-title>
          <v-card-text>
          	<div class="">
		          <v-chip close>
		            <v-avatar>
		              <img :src="selectedBeat.pic" :alt="selectedBeat.name">
		            </v-avatar>
		            {{ selectedBeat.name }}
		          </v-chip>
		        </div>
            <v-select
              :items="beatPlans"
              label="Select beat plan"
              chips
              v-model="beat_plan"
              item-text="name"
              max-height="auto"
              autocomplete
            >
            	<template slot="selection" slot-scope="data">
		            <v-chip
		              close
		              @input="data.parent.selectItem(data.item)"
		              :selected="data.selected"
		              class="chip--select-multi"
		              :key="JSON.stringify(data.item)"
		            >
		              <!-- <v-avatar>
		                <img :src="data.item.picture">
		              </v-avatar> -->
		              {{ data.item.name }}
		            </v-chip>
		          </template>
		          <template slot="item" slot-scope="data">
		            <template v-if="typeof data.item !== 'object'">
		              <v-list-tile-content v-text="data.item"></v-list-tile-content>
		            </template>
		            <template v-else>
		              <v-list-tile-avatar>
		                <img :src="data.item.picture">
		              </v-list-tile-avatar>
		              <v-list-tile-content>
		                <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
		                <v-list-tile-sub-title v-text="data.item.price"></v-list-tile-sub-title>
		              </v-list-tile-content>
		            </template>
		          </template>
            </v-select>
          </v-card-text>
          <v-card-actions>
            <v-btn color="secondary" flat @click.stop="close_beat_add_to_cart()">Close</v-btn>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click.stop="addBeatToCart(selectedBeat)" :loading="loader"
			          :disabled="loader">Add to cart
			        <span slot="loader" class="custom-loader">
			            <v-icon light>cached</v-icon>
			        </span>
			      </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="downloadDialog" max-width="500">
	 	<v-card>
	        <v-card-title>
	          <span class="headline">Download Free Beat</span>
	        </v-card-title>
	        <v-card-text>
	          <p>
	          	fill in the form below for us to send the beat to your inbox
	          </p>
	          <v-container grid-list-md>
	            <v-layout wrap>
	              <v-flex xs12>
	                <v-text-field
	                	label="Full name" 
	                	hint="enter your name"
	                	required
	                	v-model="downloadSelected.name"
	                  :error-messages="errors.collect('name')"
	                  v-validate="'required|email'"
	                  data-vv-name="name"
	                ></v-text-field>
	              </v-flex>
	              <v-flex xs12>
	                <v-text-field 
	                	label="Email" 
	                	required
	                	v-model="downloadSelected.email"
	                	hint="enter email address"
	                  :error-messages="errors.collect('email')"
	                  v-validate="'required|email'"
	                  data-vv-name="email"
	                >		
	                </v-text-field>
	              </v-flex>
	            </v-layout>
	          </v-container>
	          <p>
	          	please read the <a href="/beats_license" title="free license">free license</a> to know what you are expected
	          </p>
	          <small>*indicates required field</small>
	        </v-card-text>
	        <v-card-actions>
	          <v-spacer></v-spacer>
	          <v-btn color="blue darken-1" flat @click.stop="downloadDialog = false">Close</v-btn>
	          <v-btn color="blue darken-1" flat @click.stop="sendMyBeat" :loading="loader1"
                :disabled="loader1">Send my Beat
              <span slot="loader" class="custom-loader">
                <v-icon light>cached</v-icon>
              </span>
            </v-btn>
	        </v-card-actions>
	      </v-card>
	  </v-dialog>
	</v-container>
</template>

<script>
	import axios from 'axios'
	import { mapGetters, mapState } from 'vuex'
  import VueNotifications from 'vue-notifications'
	import SideBar from '@/components/BeatSideBar.vue'
	export default {
    head () {
      return { title: 'Beat Store' }
    },

		name: 'BeatStore',
    $_veeValidate: {
      validator: 'new'
    },

    notifications: {
      showSuccessMsg: {
        type: VueNotifications.types.success,
        title: 'Hello There',
        message: 'That\'s the success!'
      },
      showInfoMsg: {
        type: VueNotifications.types.info,
        title: 'Hey Man',
        message: 'Here is some info for you'
      },
      showWarnMsg: {
        type: VueNotifications.types.warn,
        title: 'Wow,',
        message: 'That\'s the kind of warning'
      },
      showErrorMsg: {
        type: VueNotifications.types.error,
        title: 'Wow-wow',
        message: 'That\'s the error'
      }
    },

		data () {
			return {
        loader: false,
				downloadSelected: {
					beat_id: '',
					email: '',
					name: ''
				},
				gradient: 'to top right, rgba(63,81,181, .7), rgba(25,32,72, .7)',
				cartObject: {
					type: 'Beat',
					beatPlan: '',
					quantity: ''
				},
        downloadDialog: false,
        genres: [],
        filter: '',
        filterParams: {
          genre_id: ''
        },
				beat_plan: '',
				selectedBeatMenu: false,
				loader: false,
				loader1: false,
	      autoplay: '',
	      music: {
	        title: 'Mad237',
	        artist: 'Mad237',
	        src: '/songs/belle-weh.mp3',
	        pic: '/songs/belle-weh.jpg',
	        lrc: ''
	      },
        dictionary: {
          attributes: {
            username: 'Username'
            // custom attributes
          },
          custom: {
            name: {
              required: () => 'Name can not be empty',
            },
            email: {
     					required: () => 'Email Address can not be empty',
              email: 'Email Address'
            }
          }
        },
				search: '',
        selectedBeat: {},
        paginationR: {
          rowsPerPage: 4
        },
        paginationL: {
          rowsPerPage: 4
        },
			}
		},
		computed: {
      ...mapGetters({
      	headers: 'beat/headers',
      	beatPlans: 'beat/beatPlans',
      	items: 'beat/items',
      	licenses: 'beat/licenses',
        beats: 'beat/filteredBeats',
        pagination: 'beat/meta'
      })
    },
		components: {
			'v-beat-sidebar': SideBar,
		},
    created () {
      this.$store.dispatch('beat/fetchBeats')
    },
		methods: {
	    playBeat (beat) {
	    	const song = { 
	    		src: beat.url,
	    		pic: beat.pic,
	    		title: beat.name,
	    		artist: beat.profile.data.name,
	    		autoplay: true
	    	}
	    	this.music = song
	    	this.$refs.player.audio.load()
	    	this.$refs.player.audio.autoplay = true
	    	this.$refs.player.audio.play()
	    },
	    add_Beat_To_Cart (beat) {
	    	this.selectedBeat = beat
	    	this.selectedBeatMenu = true
	    },
	    close_beat_add_to_cart () {
	    	this.selectedBeat = {}
	    	this.selectedBeatMenu = false
	    	this.beat_plan = ''
	    },
      filterBeats (val) {
        this.filterParams.genre_id = val
        this.loadMyResponse.trigger = true
      },
      addBeatToCart (item) {
      	var cartObject = {
      		id: item.id,
					type: 'Beat',
					beatPlan: '',
					quantity: ''
				}
				if (this.beat_plan === '') {
	      	this.showInfoMsg({title: 'Add To Cart', message: 'Please select a beat license', timeout: 15000})
				} else {
	      	cartObject.quantity = 1
	      	cartObject.beatPlan = this.beat_plan.name
	      	this.$store.dispatch('cart/addProductToCart', cartObject)
	      		.then(response => {
	      				this.selectedBeatMenu = false
		    				this.beat_plan = ''
	      				this.showSuccessMsg({title: 'Add To Cart', message: "Item has been added to cart", timeout: 15000})
	      			}, response => {
	      				this.selectedBeatMenu = false
		    				this.beat_plan = ''
	      				this.showWarnMsg({title: "Add To Cart", message: "Failed to add item to cart", timeout: 15000})
	      	})
				}
      },
      
      async fetchMore (url) {   
        this.loader = true
        await this.$store.dispatch('beat/fetchMoreBeats', {url})
        this.loader = false
      },

      downloadNow (item) {
      	this.downloadSelected.beat_id = item.id
      	this.downloadDialog = true
      },
      sendMyBeat () {
        this.$validator.validateAll({
        	beat_id: this.downloadSelected.beat_id,
        	email: this.downloadSelected.email,
        	name: this.downloadSelected.name
        }).then(result => {
          if (result) {
          	let postData = {
          		beat_id: this.downloadSelected.beat_id,
          		name: this.downloadSelected.name,
          		email: this.downloadSelected.email
          	}
            this.loader1 = true
            this.axios.post('/save_beat_data', postData)
               .then(response => {
                 this.loader1 = false
                 if (response.status === 200) {
                   this.emitSuccessNotify(response.body)
                   this.downloadDialog = false
                 } else if (response.status === 422) {
                    var errors = response.body
                    var items = []
                    Object.keys(errors).forEach(function (key, self = this) {
                      items.push(errors[key][0])
                    })
                    this.displayErrors(items, this)
                 }
               }, response => {
                // handle errors
                	this.showWarnMsg({title: response.status, message: response.statusText, timeout: 15000})
                  this.loader1 = true
               })
          } else {
            this.displayErrors(this.errors.items, this)
          }
        })
      },
      emitErrorNotify (payload) {
        this.$events.fire('errorSnackbar', payload);
      },
      emitSuccessNotify (payload) {
        this.$events.fire('successSnackbar', payload);
      },
      displayErrors (items, self) {
        for (var i = 0, len = items.length; i < len; i++) {
          (function (i) {
            setTimeout(function () {
              var x = (i === 0) ? 0.5 : i / 2
              var time = 10000 * x
              var speed = 1000 * x
              self.$notify({ group: 'app-template', text: items[i].replace(/_/g, ' '), type: 'error', duration: time, speed: speed })
            }, 1500 * i)
          })(i)
        }
      }
	  },
    mounted () {
      this.$validator.localize('en', this.dictionary)
    },
	}
</script>

<style scoped>
	.aplayer-list-author {
    color: #666;
    /*// float: right;*/
    cursor: pointer;
  }
  .aplayer-list-pic {
    width: 64px !important;
    height: 64px !important;
  }
</style>