<template>
	<v-container fluid>
		<v-layout row wrap>
			<v-flex xs12>
				<v-jumbotron
			    src="https://vuetifyjs.com/static/doc-images/parallax/material2.jpg"
			    :gradient="gradient"
			    dark
			  >
			    <v-container fill-height>
			      <v-layout align-center>
			        <v-flex text-xs-center>
			          <h3 class="display-3">Contact Us</h3>
			          <!-- <v-subheader class="text-xs-center d-block">$4.99 / month</v-subheader>
			          <v-btn color="blue" large block>Start Now</v-btn> -->
			        </v-flex>
			      </v-layout>
			    </v-container>
			  </v-jumbotron>
			</v-flex>
			<v-flex xs12>
				<v-container grid-list-md>
						<h2 class="text-xs-center">Message Us</h2>
			    <v-layout row wrap>
			      <v-flex xs12 sm6>
			        <v-text-field box label="First Name" v-model="first"></v-text-field>
			      </v-flex>
			      <v-flex xs12 sm6>
			        <v-text-field box label="Last Name" v-model="last"></v-text-field>
			      </v-flex>
			      <v-flex xs12 sm6>
			        <v-text-field
			          box
			          label="Email address"
			          :rules="emailRules"
			          v-model="email"
			          hint="Enter your email!"
			          persistent-hint
			        ></v-text-field>
			      </v-flex>
			      <v-flex xs12 sm6>
			        <v-text-field
			          box
			          label="Subject"
			          v-model="subject"
			          hint="Enter subject!"
			          persistent-hint
			        ></v-text-field>
			      </v-flex>
			      <v-flex xs12>
			        <v-text-field box multi-line label="Bio" v-model="message"></v-text-field>
			      </v-flex>
			      <v-btn class="green" style="float:right;">SEND MESSAGE</v-btn>
			    </v-layout>
			  </v-container>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
  export default {
    data: () => ({
      gradient: 'to top right, rgba(63,81,181, .7), rgba(25,32,72, .7)',
      first: '',
      last: '',
      subject: '',
      message: '',
      email: '',
      emailRules: [
        v => {
          return !!v || 'E-mail is required'
        },
        v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
      ]
    })
  }
</script>