<template>
	<v-container fluid>
		<v-layout row wrap>
			<v-flex xs12>
				<v-jumbotron
			    src="../../../static/slides/1.jpg"
			    :gradient="gradient"
			    dark
			  >
			    <v-container fill-height>
			      <v-layout align-center>
			        <v-flex text-xs-center>
			          <h3 class="display-3">Custom Beat</h3>
			          <v-subheader class="text-xs-center d-block">ALREADY HAVE LYRICS END NEED A BEAT MADE AROUND THEM?</v-subheader>
			          <!-- <v-btn color="blue" large>Start Now</v-btn> -->
			        </v-flex>
			      </v-layout>
			    </v-container>
			  </v-jumbotron>
			</v-flex>
		</v-layout>
		<v-layout row wrap>
			<v-flex xs12 md6>
				<div class="pa-2">
					<h1 class="text-xs-center">
						NEED CUSTOM BEATS FROM SCRATCH?
					</h1>
					<p>
						Can’t seem to find that track that you hear in your head from our existing <span class="title">
							<u>beats for sale?</u></span> Let us bring it to life! With our years of experience, <span class="title"><u>
								we can guarantee that you will fall in love with your custom beat.
							</u></span>
						All of our projects receive 100% undivided attention from start to finish. We value your input and will always take your thoughts into consideration. Likewise, we will suggest ideas to enhance your vision. For an even fuller track, consider our <span class="title"><u>mixing and mastering services</u></span>.
					</p>
				</div>
			</v-flex>
			<v-flex xs12 md6>
				<div class="pa-2">
					<h1 class="text-xs-center">
						ALREADY HAVE LYRICS END NEED A BEAT MADE AROUND THEM?
					</h1>
					<p>
						Do you have songs piled up in your notebook, but can’t seem to find the perfect beats for them? No problem. That is where we come in. For the first time, you have the ability to send us your acapellas and <span class="title">allow us to make custom beats around your lyrics!</span> Get your tracks over to us and let us put some custom beats to accompany your lyrics.
						<span class="title">
							Songs made to o beats are accepted as well. You can either send us the acapella version, or the full song.
						</span>
					</p>
				</div>
			</v-flex>
			<v-flex xs12>
				<h1 class="text-xs-center">HOW IT WORKS</h1>
				<div class="pa-3">
					<ul>
						<li>Fill out the form below</li>
						<li>Receive follow=up email. We will assess and conform our ability to deliver on your requests</li>
						<li>Pay for services in full</li>
						<li>We begin work-corresponding back and forth with you as we build</li>
						<li>Once satisfied, we will send you the untagged custom beat(mp3, wav, plus trackouts) and agreement assigning , you custom usage rights to use the instrumental</li>
					</ul>
				</div>
			</v-flex>
			<v-flex xs12 md6>
				<div class="pa-2">
					<h1 class="text-xs-center"><u>IMPORTANT INFORMATION</u></h1>
					<p>
						All minor revisions are free of charge(ie turning up a snare or choosing a different bass sound, making the chorus longer, etc)

						You will be granted 3 major revisions per custom beat (ie changing the entire genre of track from a hip=hop beat to a pop instrumental). For every additional major revision there will be a fee of $30


						You will have up to 14 days after every revision(if needed) to either request your next revision or pay your remaining balance in full. Otherwise, you will forfeit any ownership to the custom track, and will not be refunded your initial deposit
					</p>
				</div>
			</v-flex>
			<v-flex xs12 md6>
				<div class="pa-3">
					<h1 class="text-xs-center">YOUR RIGHTS</h1>
					<ul>
						<li>Sell unlimited copies of your product through unlimited mediums</li>
						<li>Unlimited radio broadcast rights</li>
						<li>Unlimited for profit and non profit performance rights</li>
						<li>Receive the tracked out wav(24 bit, 44.1khz) files</li>
						<li>Beat will never be sold again</li>
						<li>Artist owns and control copyright to intrumental</li>
						<li>All fees ae non refundable</li>
						<li>3% mechanical rroyalty to producer</li>
						<li>25/75 publishing split( Us/you)</li>
						<li>Credit must be given to Mad237</li>
					</ul>
				</div>
			</v-flex>
			<v-flex xs12 md6>
				<div class="pa-3">
					<h1 class="text-xs-center">FILL OUT FORM</h1>
					<small>What y need to send on email</small>
					<ol>
						<li>Genre/Style</li>
						<li>General Ideas For Custom(s)</li>
						<li>Link To Your Music (if applicable)</li>
						<li>Budget</li>
					</ol>
					<p>
						Upload Your Lyrical Performance if y need a beat made around a them.
						(Acappellas or song recorded to another beat)
						Please be aware that we are not responsible for mixing your vocals into your custom beats. However, feel free to look into our mixing and mastering services if you would like to get your vocals mixed in with your custom instrumental.
					</p>
				</div>
			</v-flex>
			<v-flex xs12 md6>
				<div class="pa-2">
					<v-container fluid class="pa-0 mt-2">
					  <v-flex xs12 class="text-xs-right">
					    <v-text-field
					      label="Name"
					      v-model="name"
					      value=""
					      single-line
					      full-width
					      hide-details
					      required
					    ></v-text-field>
					  </v-flex>
					  <v-flex xs12>
					    <v-divider></v-divider>
					    <v-text-field
					      label="Email"
					      v-model="email"
					      value=""
					      single-line
					      full-width
					      hide-details
					      required
					    ></v-text-field>
					  </v-flex>
					  <v-flex xs12>
					    <v-divider></v-divider>
					    <v-text-field
					      label="Genre/Style*"
					      v-model="genre"
					      value=""
					      single-line
					      full-width
					      hide-details
					      required
					    ></v-text-field>
					  </v-flex>
					  <v-flex xs12>
					    <v-divider></v-divider>
					    <v-text-field
					      label="Budget"
					      v-model="budget"
					      value=""
					      single-line
					      full-width
					      hide-details
					    ></v-text-field>
					  </v-flex>
					  <v-flex xs12>
					    <v-divider></v-divider>
					    <v-text-field
					      label="General Ideas For Custom(s)*"
					      v-model="ideas"
					      counter
					      max="120"
					      full-width
					      multi-line
					      single-line
					      required
					    ></v-text-field>
					  </v-flex>
					  <v-btn color="primary" @click.stop="">SEND</v-btn>
					</v-container>
				</div>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
  export default {
    data: () => ({
      gradient: 'to top right, rgba(63,81,181, .7), rgba(25,32,72, .7)',
      name: '',
      email: '',
      genre: '',
      budget: '',
      ideas: ''
    })
  }
</script>