<template>
  <div>
    <app-carousel :slides="slides" />
    <v-layout row wrap>
      <v-flex xs12 sm8 md6>
        <div class="text-xs-center">
          <img style="width: 10%;" src="/logo.png" :alt="appName" class="mb-5" />
        </div>
        <v-card>
          <v-card-title class="headline">WHO WE ARE</v-card-title>
          <v-card-text>
            MAD237 (Make a Difference Cameroon) is a pure Cameroonian music platform and the first of its kind that offers all the above mentioned services and more.
            Mad237 was founded by experienced music producers, directors, promoters and distributors who have work references with several music labels, artists, and media platforms nationwide. Launched in November 2017, MAD237 is owned by Chillen Media, a multimedia and communication com...
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" flat nuxt to="/about-us">read more</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
      <v-flex xs12 sm4 md6>
        <plyr>
          <div class="plyr__video-embed">
            <iframe src="https://www.youtube.com/embed/bTqVqk7FSmY" allowfullscreen allowtransparency allow="autoplay"></iframe>
          </div>
        </plyr>
      </v-flex>
    </v-layout>
  </div>
</template>

<script scoped>
  import Carousel from '@/components/common/Carousel.vue'
  export default {
    data () {
      return {
        appName: process.env.appName,
        slides: [
          {id: '1', src: '/slides/1.jpg'},
          {id: '2', src: '/slides/2.jpg'},
          {id: '3', src: '/slides/3.jpg'},
          {id: '4', src: '/slides/4.jpg'},
          {id: '5', src: '/slides/5.jpg'}
        ]
      }
    },

    components: {
      'app-carousel': Carousel
    }
  }
</script>
