<template>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex xs3>
        <v-list>
          <v-list-tile :to="{ name: 'settings.profile' }">
            <v-list-tile-content>
              <v-list-tile-title v-text="'Profile'"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile :to="{ name: 'settings.password' }">
            <v-list-tile-content>
              <v-list-tile-title v-text="'Password'"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile v-if="user.account_type === 'investor'" :to="{ name: 'settings.advance' }">
            <v-list-tile-content>
              <v-list-tile-title v-text="'Advance'"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile :to="{ name: 'settings.picture' }">
            <v-list-tile-content>
              <v-list-tile-title v-text="'Photo'"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile v-if="user.account_type === 'venture'" :to="{ name: 'settings.company' }">
            <v-list-tile-content>
              <v-list-tile-title v-text="'Venture'"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-flex>
      <v-flex xs9>
        <transition name="fade" mode="out-in">
          <router-view/>
        </transition>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
  middleware: 'auth',

  computed: {
    ...mapGetters({
      user: 'auth/user'
    })
  }
}
</script>

<style></style>
