<template>
  <v-container>
    <v-layout>
    <v-flex xs12>
      <h1>Public Profile</h1>
      <v-divider></v-divider>
      <v-text-field
        label="Name"
        v-model="name"
        required
        :error-messages="errors.collect('name')"
        v-validate="'required'"
        data-vv-name="name"
      ></v-text-field>
      <v-text-field
        label="Phone Number"
        v-model="phone"
        required
        :error-messages="errors.collect('phone')"
        v-validate="'required'"
        data-vv-name="phone"
      ></v-text-field>
      <section class="contain white">
        <div class="quill-editor black--text" 
          v-model="description"
          v-quill:myQuillEditor="editorOption"
          :error-messages="errors.collect('description')"
          v-validate="'required|min:20'"
          data-vv-name="description"
        >
        </div>
      </section>
      <v-btn color="primary" @click.stop="update()" :loading="loader"
        :disabled="loader">Update Profile
        <span slot="loader" class="custom-loader">
          <v-icon light>cached</v-icon>
        </span>
      </v-btn>
                  <!-- <div v-if="user.account_type === 'investor'">
                    <h1>Advance Profile</h1>
                    <hr />
                    <v-text-field
                      label="Mailing address"
                      v-model="mailing_address"
                      required
                      :error-messages="errors.collect('mailing_address')"
                      v-validate="'required'"
                      data-vv-name="mailing_address"
                    ></v-text-field>
                    <v-text-field
                      label="Indentification number"
                      v-model="identification_number"
                      :error-messages="errors.collect('identification_number')"
                      v-validate=""
                      data-vv-name="identification_number"
                    ></v-text-field>
                    <v-text-field
                      label="Social security number"
                      v-model="social_security_number"
                      :error-messages="errors.collect('social_security_number')"
                      v-validate=""
                      data-vv-name="social_security_number"
                    ></v-text-field>
                    <div>
                      <input type="file" style="display:none" ref="regInput" @change="onIdSelected">
                      <v-btn color="secondary" large @click="$refs.regInput.click()"> 
                        <v-icon>fa-camera</v-icon> &nbsp;
                        {{ IdMessage }}
                      </v-btn>
                    </div>
                    <v-btn color="primary" @click.stop="updateInvestor()" :loading="loader3"
                      :disabled="loader3">Update
                      <span slot="loader" class="custom-loader">
                        <v-icon light>cached</v-icon>
                      </span>
                  </v-btn>
                  </div> -->
    </v-flex>
  </v-layout>
  </v-container>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'
  if (process.browser) {
    require('~/plugins/vue-quill-editor')
  }
export default {
  scrollToTop: false,

  head () {
    return { title: 'Profile Settings' }
  },

  data () {
    return {
        modal: false,
        loader: false,
        loader0: false,
        loader1: false,
        loader2: false,
        loader3: false,
        profileMessage: 'Select an image to upload',
        selectedFile: null,
        taxMessage: 'Choose a file',
        selectedTax: null,
        RegMessage: 'Choose a file',
        selectedReg: null,
        IdMessage: 'select id',
        selectedIdDoc: null,
        mailing_address: '',
        identification_number: '',
        social_security_number: '',
        editorOption: {
          // some quill options
          modules: {
            toolbar: [
              ['bold', 'italic', 'underline', 'strike'],
              ['blockquote', 'code-block'],
              [{ 'header': 1 }, { 'header': 2 }],
              [{ 'list': 'ordered' }, { 'list': 'bullet' }],
              [{ 'script': 'sub' }, { 'script': 'super' }],
              [{ 'indent': '-1' }, { 'indent': '+1' }],
              [{ 'direction': 'rtl' }],
              [{ 'size': ['small', false, 'large', 'huge'] }],
              [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
              [{ 'font': [] }],
              [{ 'color': [] }, { 'background': [] }],
              [{ 'align': [] }],
              ['clean'],
              ['link', 'image', 'video']
            ]
          },
          placeholder: 'Enter short about you...',
          theme: 'snow'
        },
        dictionary: {
          attributes: {
            mailing_address: 'Mailing address',
            identification_number: 'Indentification number',
            social_security_number: 'Social security number'
          },
        }
      
    }
  },

  computed: { 
    ...mapGetters({
      user: 'auth/user'
    }),
      name: {
        // getter
        get: function () {
          return this.user.full_name
        },
        // setter
        set: function (newValue) {
          this.$store.commit('auth/Set_Name', newValue)
        },
      },
      description: {
        // getter
        get: function () {
          return this.user.description
        },
        // setter
        set: function (newValue) {
          this.$store.commit('auth/Set_Description', newValue)
        }
      },
      phone: {
        // getter
        get: function () {
          return this.user.phone_number
        },
        // setter
        set: function (newValue) {
          this.$store.commit('auth/Set_Phone_Number', newValue)
        },
      },
      currency: {
        // getter
        get: function () {
          return this.user.currency
        },
        // setter
        set: function (newValue) {
          this.$store.commit('auth/Set_Currency', newValue)
        },
      },
  },

  created () {},

  methods: {
    update () {
        this.$validator.validateAll({
          name: this.name,
          phone: this.phone,
          description: this.description,
          currency: this.currency
        }).then(result => {
          if (result) {
            this.loader = true
            this.$store.dispatch('auth/update', {name: this.name, phone_number: this.phone, description: this.description})
               .then(response => {
                 this.loader = false
                 if (response.status === 200) {
                   this.emitSuccessNotify(response.body.success)
                 } else if (response.status === 422) {
                    var errors = response.body.errors
                    var items = []
                    Object.keys(errors).forEach(function (key, self = this) {
                      items.push(errors[key][0])
                    })
                    this.displayErrors(items, this)
                 } else {
                  let postMessage = {
                      message: response.statusText
                  }
                  this.emitErrorNotify(postMessage)
                 }
               }, response => {
                // handle errors
                  this.loader = false
                  let postMessage = {
                      message: response.statusText
                  }
                  this.emitErrorNotify(postMessage)
               })
          } else {
            this.errorCollector(this.errors.items, this)
          }
        })
      }
  }
}
</script>
<style lang="scss" scoped>
  .contain {
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    .quill-editor {
      min-height: 200px;
      max-height: 400px;
      overflow-y: auto;
    }
  }
  .ql-editor.ql-blank::before {
    left: 50px !important;
  }
</style>
